:root {
	--darkest: rgb(32, 33, 36) !important;
	--darker: rgb(53, 54, 58) !important;
	--dark: rgb(69, 70, 73) !important;
	--light: rgb(188, 192, 187) !important;
	--urlbar-row-hover-bg: rgb(41, 42, 45) !important;
	--urlbar-row-border: rgb(26,115,232) !important;
	--urlbar-row-border-private: rgb(130,180,248) !important;
	--proton-tab-block-margin: 0px !important;
}
