@import url("defaults.css");
@-moz-document url("about:privatebrowsing") {
    html.private {
        --in-content-page-background: var(--darkest) !important;
    }
}

@-moz-document domain("old.reddit.com") {
	.arrow.down {
		visibility: visible !important;
		display: block !important;
	}
}

